<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats</title>
</head>
<body>
    
    <h1>ALL MY CATS</h1>
    <ol>
        <% for (const cat of cats) {%>
           <li><%= cat %></li>
       <% } %>
    </ol>
    
</body>
</html>