<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Number and conditionals</title>
</head>
<body>
    
    <h2>YOUR RANDOM NUMEBR IS <%= rand %></h2>
    <% if (rand%2==0) {%>
        <h3 style="color: green;"><%= rand %>IS THE EVEN NUMBER</h3>
        <%  }else{%>
    
    <h3 style="color: red;"><%= rand %>IS THE ODD NUMBER</h3>
 <% } %>
</body>
</html>